.buttonPlay {
  @apply h-20 w-20 absolute left-1/2 top-1/2 translate-x-1/2 rounded-full border-2;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}

.buttonPlay:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.buttonPlay::after {
  content: "";
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 14px solid transparent;
  border-left: 28px solid rgba(233, 228, 228, 0.8);
  border-right: none;
}

.carouselBox:hover .buttonPlay {
  opacity: 1;
  visibility: visible;
}
