.newCard .desc {
  color: #a0a3a7;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.newCard .title {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.newCard:hover .title {
  @apply text-red-400;
}

.newCard:hover img {
  transition: all 0.3s;
  opacity: 0.7;
}
