@font-face {
  font-family: "SF Regular";
  src: url(./assets/fonts/SF-UI-Display-Regular.otf);
  src: url(./assets/fonts/SF-UI-Display-Regular.otf) format("opentype");
}

@font-face {
  font-family: "SF Medium";
  src: url(./assets/fonts/SF-UI-Display-Medium.otf);
  src: url(./assets/fonts/SF-UI-Display-Medium.otf) format("opentype");
}

@font-face {
  font-family: "SF Text Regular";
  src: url(./assets/fonts/SF-UI-Text-Regular.otf);
  src: url(./assets/fonts/SF-UI-Text-Regular.otf) format("opentype");
}

#root {
  background-color: #fff;
  font-family: "SF Regular";
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: rgba(233, 228, 228, 0.8);
  transition: all 0.3s;
}

.swiper-button-prev:hover:after,
.swiper-button-next:hover:after {
  color: rgb(248, 245, 245);
}

