@font-face {
  font-family: "SF Regular";
  src: url(./assets/fonts/SF-UI-Display-Regular.otf);
  src: url(./assets/fonts/SF-UI-Display-Regular.otf) format("opentype");
}

@font-face {
  font-family: "SF Medium";
  src: url(./assets/fonts/SF-UI-Display-Medium.otf);
  src: url(./assets/fonts/SF-UI-Display-Medium.otf) format("opentype");
}

@font-face {
  font-family: "SF Text Regular";
  src: url(./assets/fonts/SF-UI-Text-Regular.otf);
  src: url(./assets/fonts/SF-UI-Text-Regular.otf) format("opentype");
}

#root {
  background-color: #fff;
  font-family: "SF Regular";
}